@model PL.Models.GenreView
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YouMusLib</title>

</head>
    <body>
        <h3>Редактирование имени жанра</h3>

        <p>Для редактирования жанра заполните следующие поля:</p>

        <form method="post">
            <div>
           
                 <input type="hidden" asp-for="GenreId" class="form-control"/><br />
            </div>
            <div>
                <label asp-for="Name_of_Genre">Измените название жанра:</label><br />
                <input type="text" asp-for="Name_of_Genre" class="form-control"/><br />
            </div>

            <div>
                <button type="submit" >Внести изменения</button> 
            </div>
        </form>
    </body>
</html>