@model List<GenreView>
@{
    ViewData["Title"] = "GamesShop";
}

<h3>Список жанров</h3>


<div class="card">
    @foreach (var genre in Model)
    {
        <div class="card-header">
            <a  asp-controller="Genre" asp-route-id="@genre.GenreId"> @genre.Name_of_Genre</a>
        </div>
        <div class="card-body">

                <a class="btn btn-link" asp-controller="Genre" asp-action="EditGenre" asp-route="@genre">Редактировать</a>

                <form method="post">
                    <button class="btn btn-danger" type="submit" asp-action="GenreList" asp-controller="Genre" asp-route="@genre">Удалить</button>
                </form>

            
        </div>
    }
</div>