@model IEnumerable<PL.Models.GenreView>

@{
    ViewData["Title"] = "Список жанров";
}

<h1>Жанры</h1>


<table class="table">
    <thead>
        <tr>
          
            <th>
                Название жанра
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name_of_Genre)
            </td>
            <td>
               <a class="btn btn-info"asp-action="EditGenre" asp-controller="Genre" asp-route-id="@item.GenreId">Редактировать</a>
                <form method="post">
                    <button class="btn " type="submit" asp-action="GenreList" asp-controller="Genre" asp-route-id="@item.GenreId" >Удалить</button>
                </form>
                
            </td>
        </tr>
}
    </tbody>
</table>
