<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YouMusLib</title>

</head>
    <body>
        <h3>Форма добавления песни</h3>

        <p>Для добавления песни заполните следующие поля:</p>

        <form method="post">

            <div>
                <label for="Name_of_song">Название песни</label><br />
                <input type="text" name="Name_of_song" /><br />
            </div>

            <div>
                <label for="Picture">  Выберите изображение:</label><br />
                <input type="file" name="Picture" /><br>
            </div>

            <div>
                <label for="Description"> Выберите дату релиза</label><br />
                <textarea type="text" name="Date_of_release"></textarea><br />
            </div>

            <div>
                <label> Выберите исполнителя песни </label><br />
                <select name="SingerId">
                    <option>исполнитель1</option>
                    <option>исполнитель2</option>
                </select>
            </div>

            <div>
                <label> Выберите альбом, которому пренадлежит песня </label><br />
                <select name="SingerId">
                    <option>альбом1</option>
                    <option>альбом2</option>
                </select>
            </div>

            <div>
                <submit value="Добавить" />
            </div>
        </form>
    </body>
</html>