<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> YouMusLib</title>
</head>
<body>
    <div >
        <h2>Популярные песни</h2>
        <img  src="" alt="">
        <div >
            <p >
                Название песни:
                Длительность:
                <iframe src="">Песня</iframe>
            </p>
        </div>
    </div>
</body>
</html>

