<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YouMusLib</title>

</head>
<body>
    <div>
        <h4>Название песни</h4>
    </div>

    <div> <img src="" /></div>

    <div>Дата выхода</div>

    <div>Длительность</div>

    <div>Исполнитель</div>

    @if (User.IsInRole("Admin"))
    {
        <button>Редактировать</button>
    }

    <div>
        Жанры
        <ul>
            <li>Жанр1</li>
            <li>Жанр2</li>
            <li>...</li>
        </ul>
    </div>

    <label> прослушать трек</label>

    <iframe src="" width="600" height="450"></iframe>

    <button>Скачать</button>

</body>
</html>




