<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YouMusLib</title>

</head>
    <body>
        <h3>Создание плейлиста</h3>

        <p>Для добавления плейлиста заполните следующие поля:</p>

        <form method="post">

            <div>
                <label for="Name_of_playlist">Название плейлиста</label><br />
                <input type="text" name="Name_of_playlist" /><br />
            </div>

            <div>
                <submit value="Добавить" />
            </div>
        </form>
    </body>
</html>