
<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YouMusLib</title>

</head>
<body>
    <h3>Регистрация пользователя</h3>

    <p>Для добавления песни заполните следующие поля:</p>

    <form method="post">

        <div>
            <label>Введите логин</label><br />
            <input type="text" />
        </div>
        <div>
            <label>Введите email</label><br />
            <input type="email" />
        </div>

        <div>
            <label> Введите пароль</label><br />
            <input type="password" />

        </div>

        <div>
            <label>Подтвердите пароль</label><br />
            <input type="password" />

        </div>
        <div>
            <label for="Picture">Выберите изображение:</label><br />
            <input type="file" name="Picture" /><br>
        </div>
        <div>
            <submit value="Регистрация" />
        </div>
    </form>
</body>
</html>